doctype html
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
  html(class='no-js')
//<![endif]
html(lang="en")
  head
    //if lt IE 10
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js")
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport", content="width=device-width")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    block header
      script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js')
      link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
          
  body
  .container.clearfix
    if (flash)
      .alert.alert-info
        p=flash
    
    block content

    footer.clearfix
      p.pull-right.text-primary Powered by express, mongoose, and other things
    
    block footer
      script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
      script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
