extends ../layout

block content
  //- .page-header
  //-   h1 #{title} 
  //-     small Home Page
  .jumbotron
    h1 Welcome to #{title}!
    p Lorem ipsum Elit sed mollit elit eiusmod non in aute in tempor consectetur in qui.
    p
      a.btn.btn-primary.btn-lg(href="#") Learn More
  .row
    .col-6.col-lg-4
      .panel
        .panel-heading
          | Sample Heading
        |  Lorem ipsum Exercitation consequat quis labore ex ex do fugiat dolor exercitation anim velit minim velit Ut qui laborum amet.
    .col-6.col-lg-4
      .panel
        .panel-heading
          | Sample Heading
        |  Lorem ipsum Exercitation consequat quis labore ex ex do fugiat dolor exercitation anim velit minim velit Ut qui laborum amet.
    .col-6.col-lg-4
      .panel
        .panel-heading
          | Sample Heading
        |  Lorem ipsum Exercitation consequat quis labore ex ex do fugiat dolor exercitation anim velit minim velit Ut qui laborum amet.
